@import '../core/variables.scss';

.formSection {
  background-color: rgb(210, 210, 210);
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  & .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &__title {
      text-align: center;
      font-family: $fontGeneral;
    }
    &__input {
      &:hover {
        box-shadow: 5px 3px 3px black;
      }
      &.emptyInput {
        border: 1.5px solid red;
        box-shadow: 1px 1px 1px red;
      }
    }
    &__button {
      border-radius: 20%;
      background-color: transparent;
      font-size: 0.8rem;
      font-family: $fontGeneral;
      &:hover {
        background-color: white;
        cursor: pointer;
        border-color: antiquewhite;
        color: gray;
      }
      &--cancel {
        &:hover {
          background-color: white;
          cursor: pointer;
          border-color: red;
          color: red;
        }
      }
    }
    &__link {
      text-decoration: none;
      color: black;
      font-size: 0.8rem;
      transition: font-size 1s ease;
      font-family: $fontGeneral;
      &:hover {
        color: gray;
        font-size: 0.9rem;
      }
    }
  }
}
