@import '../core/variables.scss';

.formSection {
  background-color: #FAF6FB;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  & .form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    &__title {
      text-align: center;
      font-family: $fontGeneral;
      color: #042B3A;
    }
    &__input {
      &:hover {
        box-shadow: 5px 3px 3px #042B3A;
      }
      &.emptyInput {
        border: 1.5px solid red;
        box-shadow: 1px 1px 1px red;
      }
    }
    &__btnContainer {
      display: flex;
      gap: 10px;
      margin-top: 20px;
      &__button {
        border-radius: 20%;
        background-color: transparent;
        font-size: 0.8rem;
        font-family: $fontGeneral;
        &:hover {
          background-color: white;
          cursor: pointer;
          border-color: #7bd5e9;
          color: #2CC0E0;
        }
        &--cancel {
          &:hover {
            background-color: white;
            cursor: pointer;
            border-color: red;
            color: red;
          }
        }
      }
    }
  }
}
