@import '../core/variables.scss';

.header {
  background-color: rgb(210, 210, 210);
  height: 10vh;
  position: sticky;
  top: 0;
  padding: 5px 15px;
  display: flex;
  &__link {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    &__logo {
      width: 40px;
    }
    &__title {
      font-family: $fontGeneral;
      font-weight: 600;
      font-size: 0.8rem;
      color: black;
    }
  }
}
