@import '../core/variables.scss';

.landing {
  background-color: #1A414E;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 10px;
  &__title {
    font-family: $fontGeneral;
    font-weight: 600;
    color: white;
  }
  &__logo {
    width: 60px;
  } 
  &__message {
    margin-top: 50px;
    color: gray;
    border: 1px solid red;
    border-radius: 10%;
    padding: 13px;
  }
}
