@import '../core/variables.scss';

.taskListSection {
  z-index: -1;
  background-color: #FAF6FB;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 60vh;
  gap: 10px;
  padding-bottom: 20vh;
  &__emptyMsg {
    font-family: $fontGeneral;
    margin-top: 17%;
    color: #1c4150;
    &--hidden {
      display: none;
    }
  }
  &__ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 10% 15% 2%;
    justify-content: flex-start;
    &.hidden {
      display: none;
    }
    & .item {
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 5px 7px;
      transition: background-color 2s ease;
      &.completedTask {
        transition: background-color 2s ease;
        background-color: #4096b7;;
      }
      &:hover {
        border: solid 1px gray;
        padding: 3px 5px 3px 10px;
        border-radius: 5%;
        & .item__buttons {
          display: flex;
          align-self: end;
        }
      }
      &__nameTask {
        font-family: $fontGeneral;
        font-weight: 600;
        display: flex;
        justify-content: start;
        gap: 10px;
        cursor: pointer;
        &__check {
          border: none;
          background-color: transparent;
          cursor: pointer;
        }
        &__name {
          &.completedTask {
            text-decoration: line-through;
          }
        }
        &__menu {
          border: none;
          background-color: transparent;
          width: 17px;
          opacity: .3;
          cursor: pointer;
          &:hover {
            opacity: 1;
          }
        }
      }
      &__allcheck {
        cursor: pointer;
      }
    }
  }
  &__buttons {
    display: flex;
    justify-self: end;
    gap: 20px;
    margin-bottom: 5%;
    position: fixed;
    bottom: 10vh;
    background-color: #FAF6FB;
    &.hidden {
      display: none;
    }
    &__button {
      background-color: transparent;
      border: none;
      margin: 5px 0;
      &__icon {
        width: 20px;
      }
      &:hover {
        align-self: end;
        color: red;
        cursor: pointer;
      }
    }
  }
}