@import '../core/variables.scss';

.taskListSection {
  background-color: rgb(210, 210, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 10px;
  &__emptyMsg {
    font-family: $fontGeneral;
    &--hidden {
      display: none;
    }
  }
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 50px;
    & .item {
      display: flex;
      flex-direction: column;
      padding: 5px;
      &.completedTask {
        background-color: rgb(126, 255, 255);
      }
      &:hover {
        border: solid 1px gray;
        padding: 3px 15px 3px 10px;
        border-radius: 10%;
        & .item__button {
          display: block;
          align-self: end;
        }
      }
      &__nameTask {
        font-family: $fontGeneral;
        display: flex;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        &__check {
          border: none;
          background-color: transparent;
        }
      }
      &__button {
        display: none;
        background-color: transparent;
        border: none;
        margin: 5px 0;
        font-size: .7rem;
        &:hover {
          display: block;
          align-self: end;
          color: red;
          cursor: pointer;
        }
      }
    }
  }
  &__link {
    font-family: $fontGeneral;
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    transition: font-size 1s ease;
    &:hover {
      color: gray;
      font-size: .9rem;
    }
  }
}

