@import '../core/variables.scss';

.taskListSection {
  background-color: rgb(210, 210, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 20px;
  &__emptyMsg {
    font-family: $fontGeneral;
    &--hidden {
      display: none;
    }
  }
  &__ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    & .item {
      display: flex;
      flex-direction: column;
      &__nameTask {
        font-family: $fontGeneral;
        display: flex;
        justify-content: center;
        gap: 10px;
        cursor: pointer;
        &:hover {
          & ~ .item__button {
            display: block;
            align-self: end;
          }
        }
        &__check {
          border: none;
          background-color: transparent;
        }
      }
      &__button {
        display: none;
        background-color: transparent;
        border: none;
        margin-bottom: 5px;
        &:hover {
          display: block;
          align-self: end;
          color: red;
          cursor: pointer;
        }
      }
    }
  }
  &__link {
    text-decoration: none;
    color: black;
    font-size: 0.8rem;
    &:hover {
      color: gray;
    }
  }
}
