@import '../core/variables.scss';

.taskListSection {
    //hacer mixin
  background-color: rgb(210, 210, 210);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  gap: 20px;
  &__ul {
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & .item {
    &__nameTask {
        font-family: $fontGeneral;
        display: flex;
        justify-content: center;
        gap: 10px;
        margin-bottom: 50px;
        &__check {
            border: none;
            background-color: transparent;
        }
    }
    &__button {
        background-color: transparent;
        border: none;
        &:hover {
            color: red;
            cursor: pointer;
        }
    }
  }
  }
  &__link {
    text-decoration: none;
    color: black;
    font-size: .8rem;
    &:hover {
        color: white;
    }
  }
}
